#wrapper {
    overflow-x: hidden;
}

#sidebar-vertical {
    min-height: 100vw;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    
}

#copyRight{
    margin-top: 45%;
    
}

#sidebar-vertical .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-vertical .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-vertical {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-vertical {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#wrapper.toggled #sidebar-vertical {
    margin-left: -15rem;
}
}

.size-img-ShopCart {
    width: 90px;
    height: 60px;
}